.table-wrapper {
background-color: #ffffff;
}
.table-container {
    overflow-x: auto;
    margin: 16px 0;
  }
  
  table {
    width: 100%;
    background-color: #ffffff;
  }
  
  th.mat-header-cell, td.mat-cell {
    white-space: nowrap;
  }
  
  @media (max-width: 600px) {
    th.mat-header-cell, td.mat-cell {
      font-size: 12px;
      padding: 8px;
    }
  }
  